<html>
    <head>
        <title>ibsBank</title>
        <link href="/style.css" rel="stylesheet"> <!-- colocar / antes de style para dar caminho absoluto -->
        <h1><a href="/">ibsBank</a></h1>
    </head>
    <body>