<%- include('header') %>
    
    <form method="POST">
        <label>Agência:</label>  
        <input type="number" name="agencia"> 
        <label>Conta:</label>  
        <input type="number" name="conta"> 
        <label>Senha:</label>  
        <input type="password" name="senha"> 
        <button>Enviar</button>
    </form>
    <div class="menu">
        <ul>
            <a href="nova-conta">Abrir Conta</a>

        </ul>
    </div>


<%- include('footer') %>